<td class="text-center p-3 border text-warning fw-bold fs-1 text-center align-middle"
    style="width: 150px; height: 100px; cursor: pointer; transition: background-color 0.3s;"
    data-clue="<%= clue.to_json %>"
    data-cat-num="<%= cat %>"
    data-update-url="/games/<%= @game.id %>"
    data-game-id="<%= @game.id %>"
>
  <%= clue&.dig('value') %>
</td>

<div class="overlay position-fixed top-0 start-0 w-100 h-100 bg-dark opacity-50" style="display: none;"></div>

<div class="popover position-fixed top-50 start-50 translate-middle bg-white text-center text-black border rounded shadow-lg p-20" style="display:none;">
  <div class="popover-question fs-4 m-4"><h5 class="text-primary"></h5></div>
  <div class="question-timer m-2 h3">
    <span class="badge bg-secondary">8</span>
  </div>
  <button class="buzzer-btn btn btn-danger mb-3" onclick="handleBuzzIn(event)">Buzz!</button>
  <div class="answer-form" style="display: none;">
    <form class="inline">
      <div class="answer-timer mb-2">
        <span class="badge bg-secondary">10</span>
      </div>
      <div class="m-2 d-flex">
        <input type="text" class="form-control answer-input m-2" placeholder="What is...?">
        <input type="submit" onclick="handleAnswerSubmit(event)" class="btn btn-primary m-2" value="Submit">
      </div>
    </form>
  </div>

</div>