<td data-clue="<%= clue.to_json %>" data-cat-num="<%= cat %>">
  <%= clue&.dig('value') %>
</td>

<div class="overlay" onclick="hidePopover(event)"></div>
<div class="popover">
  <div class="popover-question"></div>
  <div class="question-timer">10</div>
  <button class="buzzer" onclick="handleBuzzIn(event)">Buzz!</button>
  <div class="answer-form">
    <div class="answer-timer">15</div>
    <form>
      <input type="text" class="answer-input">
      <button type="submit"
              onclick="handleAnswerSubmit(event)"
              data-cat-num="<%= cat %>"
              data-update-url="/games/<%= id %>"
              data-game-id="<%= id %>"
              data-clue="<%= clue.to_json %>"
      >
        Submit
      </button>
    </form>
  </div>
</div>