<%= javascript_include_tag 'jeopardy' %>

<div class="game-container">
  <h1>Jeopardy!</h1>

  <table class="game-board">
    <thead>
    <tr>
      <th><%= @game.category_1.dig('name') %></th>
      <th><%= @game.category_2.dig('name') %></th>
      <th><%= @game.category_3.dig('name') %></th>
      <th><%= @game.category_4.dig('name') %></th>
      <th><%= @game.category_5.dig('name') %></th>
      <th><%= @game.category_6.dig('name') %></th>
    </tr>
    </thead>
    <tbody>
    <% [200, 400, 600, 800, 1000].each do |value| %>
      <tr>
        <%= render partial: 'game_cell', locals: { cat: 1, clue: @game.category_1["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 2, clue: @game.category_2["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 3, clue: @game.category_3["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 4, clue: @game.category_4["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 5, clue: @game.category_5["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 6, clue: @game.category_6["#{value}"] } %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render partial: 'layouts/scoring', locals: { game: @game } %>
</div>

