<%= javascript_include_tag 'jeopardy' %>
<div class="game-container">
  <div class="game-overlay">
    <div class="position-fixed top-0 start-0 w-100 h-100 bg-dark opacity-50 "></div>
    <div class="position-fixed bg-white p-4 text-center rounded shadow z-3 start-50 top-50 translate-middle" style="max-width: 400px;">
      <h5>Game Rules</h5>
      <p class="mb-4">Answer the questions by clicking on the board. Be quick to buzz in and score points. Good luck!</p>
      <button class="btn btn-success btn-lg" onclick="initializeGame()">Play!</button>
    </div>
  </div>

  <table class="game-board">
    <thead>
    <tr>
      <th><%= @game.category_1.dig('name') %></th>
      <th><%= @game.category_2.dig('name') %></th>
      <th><%= @game.category_3.dig('name') %></th>
      <th><%= @game.category_4.dig('name') %></th>
      <th><%= @game.category_5.dig('name') %></th>
      <th><%= @game.category_6.dig('name') %></th>
    </tr>
    </thead>
    <tbody>
    <% [200, 400, 600, 800, 1000].each do |value| %>
      <tr>
        <%= render partial: 'game_cell', locals: { cat: 1, clue: @game.category_1["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 2, clue: @game.category_2["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 3, clue: @game.category_3["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 4, clue: @game.category_4["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 5, clue: @game.category_5["#{value}"] } %>
        <%= render partial: 'game_cell', locals: { cat: 6, clue: @game.category_6["#{value}"] } %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render partial: 'layouts/scoring', locals: { game: @game } %>
</div>

