<div class="scores">
  <div class="score"><%= @game.player_name %>:
    $<span id="player-score"><%= @game.player_score %></span>
  </div>
  <div class="score"><%= @game.bot1_name %>:
    $<span id="bot1-score"><%= @game.bot1_score %></span>
  </div>
  <div class="score"><%= @game.bot2_name %>:
    $<span id="bot2-score"><%= @game.bot2_score %></span>
  </div>
</div>