<!DOCTYPE html>
<html>
  <head>
    <title>Rails Trivia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'quiz-48.png', rel: 'icon', type: 'image/png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
